.work-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.work-work {
  width: 100%;
  height: 9657px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(245, 244, 242, 1);
}
.work-banner {
  top: 57.97999954223633px;
  left: 108px;
  width: 1224px;
  height: 71.19000244140625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.work-text {
  top: 33px;
  left: 853px;
  color: rgba(234, 29, 118, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 23.2px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text001 {
  top: 33px;
  left: 1012px;
  color: rgb(28, 28, 28);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 23.2px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text002 {
  top: 33px;
  left: 1139px;
  color: rgb(28, 28, 28);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 23.2px;
  font-stretch: normal;
  text-decoration: none;
}


.work-text001,
.work-text002 {
  color: rgb(28, 28, 28);
  /* Other properties remain the same */
  transition: color 0.3s ease; /* Add transition for color with ease effect */
}


.work-text:hover,
.work-text001:hover,
.work-text002:hover {
  color: rgba(234, 29, 118, 1);
}

.work-text004 {
  top: 30px;
  left: 78px;
  color: rgba(234, 29, 118, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: 17px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text005 {
  color: #ea1d76;
}
.work-footer {
  left: 121px;
  width: 1264px;
  bottom: -379px;
  height: 140px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(28, 28, 28, 1);
  border-style: solid;
  border-width: 2px 0;
}
.work-list-item-link {
  top: 69px;
  left: 1064.550048828125px;
  width: 21px;
  height: 24px;
  position: absolute;
}
.work-list-item-link1 {
  top: 69px;
  left: 1109.1300048828125px;
  width: 21px;
  height: 24px;
  position: absolute;
}
.work-list-item-link2 {
  top: 69px;
  left: 1153.699951171875px;
  width: 14px;
  height: 24px;
  position: absolute;
}
.work-list-item-link3 {
  top: 69px;
  left: 1191.4200439453125px;
  width: 21px;
  height: 24px;
  position: absolute;
}
.work-text009 {
  top: 34px;
  left: 23px;
  color: rgba(234, 29, 118, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: 17px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text010 {
  color: rgba(234, 29, 118, 1);
}
.work-text012 {
  color: rgba(234, 29, 118, 1);
}
.work-text013 {
  color: rgba(255, 255, 255, 1);
}
.work-text015 {
  color: rgba(255, 255, 255, 1);
}
.work-text017 {
  top: 24.2802734375px;
  left: 365px;
  color: rgba(28, 28, 28, 1);
  width: 243px;
  height: auto;
  position: absolute;
  font-size: 15.375px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.work-footer1 {
  top: 9552px;
  left: 108px;
  width: 1224px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.work-footer2 {
  left: 0px;
  width: 1440px;
  bottom: -486px;
  height: 50.38999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(28, 28, 28, 1);
}
.work-text019 {
  top: 15.300000190734863px;
  left: 614.97998046875px;
  color: rgba(245, 244, 242, 1);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 11.25px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 17.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text021 {
  top: 5028px;
  left: 641px;
  color: rgba(234, 29, 118, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20.607810974121094px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 23.940000534057617px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text023 {
  top: 161px;
  left: 97px;
  color: rgb(0, 0, 0);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 120px;
  font-style: Extra Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 157px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text024 {
  font-size: 90px;
}
.work-text026 {
  top: 300px;
  left: 107px;
  width: 1176px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 70px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text027 {
  color: #ea1d76;
  font-weight: 700;
}
.work-text028 {
  color: #ea1d76;
}
.work-text029 {
  color: #000000;
  font-weight: 500;
}
.work-text030 {
  color: #000000;
}
.work-text031 {
  color: #000000;
  font-weight: 500;
}
.work-text032 {
  color: #000000;
}
.work-text033 {
  color: #000000;
  font-weight: 500;
}
.work-text034 {
  color: #000000;
}
.work-text035 {
  color: #000000;
  font-weight: 500;
}
.work-text036 {
  color: #000000;
}
.work-text037 {
  color: #000000;
}
.work-text038 {
  color: #ea1d76;
  font-weight: 700;
}
.work-text039 {
  color: #ea1d76;
  font-weight: 500;
}
.work-text040 {
  color: #ea1d76;
}
.work-text041 {
  color: #000000;
  font-weight: 500;
}
.work-text042 {
  color: #000000;
}
.work-text043 {
  color: #000000;
  font-weight: 500;
}
.work-text044 {
  color: #000000;
}
.work-text045 {
  color: #000000;
  font-weight: 500;
}
.work-text046 {
  color: #000000;
}
.work-text047 {
  color: #000000;
  font-weight: 500;
}
.work-text048 {
  color: #000000;
}
.work-text049 {
  color: #000000;
}
.work-text050 {
  color: #ea1d76;
  font-weight: 700;
}
.work-text051 {
  color: #ea1d76;
}
.work-text052 {
  color: #ea1d76;
}
.work-text053 {
  color: #000000;
}
.work-text054 {
  color: #000000;
}
.work-text055 {
  color: #000000;
}
.work-text056 {
  color: #000000;
}
.work-text057 {
  color: #000000;
}
.work-text058 {
  color: #000000;
}
.work-text059 {
  color: #000000;
}
.work-container1 {
  flex: 0 0 auto;
  width: 1224px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.work-text060 {
  top: -1209px;
  color: rgb(234, 29, 118);
  right: -132px;
  width: 832px;
  height: auto;
  position: absolute;
  font-size: 90px;
  font-style: Extra Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 157px;
  font-stretch: normal;
  text-decoration: none;
}
.work-main {
  left: 103px;
  width: 1224px;
  bottom: -202px;
  height: 7218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.work-text061 {
  top: -18px;
  left: 287px;
  color: rgba(28, 28, 28, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 52.806251525878906px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 56.58000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text063 {
  top: 55px;
  left: 526px;
  color: rgba(234, 29, 118, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 20.607810974121094px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 23.940000534057617px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text067 {
  top: 1557.830078125px;
  left: 514px;
  color: rgba(234, 29, 118, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20.607810974121094px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 23.940000534057617px;
  font-stretch: normal;
  text-decoration: none;
}
.work-frame25jpeg {
  top: 1614px;
  left: 70px;
  width: 1080px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/external/tq_smddvvq_2j-h4j5-1100w.png");
}
.work-frame25jpeg1 {
  top: 3171px;
  left: 72px;
  width: 1080px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/external/tq_djl_ex4nm6-7inr-1100w.png");
}
.work-frame163jpeg {
  top: 4765px;
  left: 56px;
  width: 1080px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/external/tq_gf-uajszb3-40d8-1100w.png");
}
.work-text069 {
  top: 883px;
  left: 106px;
  color: rgba(0, 0, 0, 1);
  width: 1051px;
  height: auto;
  position: absolute;
  font-size: 21.484375px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text079 {
  top: 1469.830078125px;
  left: 310px;
  color: rgba(28, 28, 28, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 52.806251525878906px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 56.58000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text081 {
  top: 2454.830078125px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 1188px;
  height: auto;
  position: absolute;
  font-size: 21.484375px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text087 {
  top: 5526px;
  color: rgba(0, 0, 0, 1);
  right: -2px;
  width: 1188px;
  height: auto;
  position: absolute;
  font-size: 21.484375px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text093 {
  top: 4026.830078125px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 1188px;
  height: auto;
  position: absolute;
  font-size: 21.484375px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text109 {
  top: 2965.830078125px;
  left: 291px;
  color: rgba(28, 28, 28, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 52.806251525878906px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 56.58000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text111 {
  top: 4674.830078125px;
  left: 310px;
  color: rgba(28, 28, 28, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 52.806251525878906px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 56.58000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text113 {
  top: 3044.830078125px;
  left: 514px;
  color: rgba(234, 29, 118, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20.607810974121094px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 23.940000534057617px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text115 {
  top: 6294px;
  left: 312px;
  color: rgba(28, 28, 28, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 52.806251525878906px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 56.58000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text117 {
  top: 6377px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 1188px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 21.4844px;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text118 {
  font-weight: 400;
}
.work-text120 {
  font-weight: 400;
}
.work-text123 {
  font-weight: 700;
}
.work-text125 {
  font-weight: 700;
}
.work-text127 {
  font-weight: 700;
}
.work-text129 {
  font-weight: 700;
}
.work-text131 {
  font-weight: 700;
}
.work-text134 {
  color: rgba(28, 28, 28, 1);
  right: 42px;
  width: 245px;
  bottom: -207px;
  height: auto;
  position: absolute;
  font-size: 12.2890625px;
  font-style: Bold;
  text-align: right;
  font-family: Roboto;
  font-weight: 700;
  line-height: 13px;
  font-stretch: normal;
  text-decoration: none;
}
.work-divprojecthero {
  top: 135px;
  left: 74px;
  width: 1080px;
  height: 700px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/external/tq_kmqvrgc6zw-cld-700h.png");
}
.work-footer3 {
  top: 29.2802734375px;
  left: -301px;
  width: 1224px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.work-text136 {
  top: 1542px;
  left: 644px;
  color: rgb(0, 0, 0);
  width: 500px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
.work-text138 {
  font-weight: 500;
}
.work-text140 {
  font-weight: 500;
}
.work-text142 {
  font-weight: 500;
}
.work-text144 {
  font-weight: 500;
}
.work-text149 {
  font-weight: 500;
}
.work-text151 {
  font-weight: 500;
}
.work-text153 {
  font-weight: 500;
}
.work-text155 {
  font-weight: 500;
}
.work-text157 {
  font-style: normal;
  font-weight: 500;
}
.work-text158 {
  font-style: normal;
  font-weight: 500;
}
